*{
    margin:0;
    padding:0;
    
   
}



header{
    height: 100px;
    background-color: rgb(131, 112, 112);
    
}

ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}


li{
    display: inline-block;
    margin: 10px;
    
}



h1{
    color: rgb(118, 79, 124);
    font-size: 100px;
    font-family: '"Dancing Script"';
    font-weight: 300px;

}

#h1header{
    color: rgb(248, 241, 241);
    font-size: 100px;
    font-family: '"Dancing Script"';
    font-weight: 200px;

}

h2{
    font-size:30px;
    font-family: "Ubuntu";
    text-align: center;
    
}



.divHome{
    text-align: center;
    padding: 0%;
    height: 300px;
    width: 91%;
    justify-content: center;
}




p{
    color: rgb(9, 15, 15);
    font-family: "Ubuntu";
    font-size: 19px;
    text-align: center;
    height: 30px;
    
}


#carouselExampleRide{
    display: grid;
    margin: 0;
    width: 100%;
    justify-content: center;
    
}



.carousel-item img{
    height: 800px;
    width: 200%;
    object-fit: cover;
    
}



footer{
    height: 50px;
    background-color:rgb(131, 112, 112);
    position:relative;


}


@media only screen and (min-width:600px){
    
    header{
        
        height: 200px;
    }
    
    ul{
        display: flex;
        height: 80px;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
        align-items: center;
    }

    li{
        width: 15%;
        text-align: center;
        font-size: 20px;
    }

    
.divHome{
    text-align: center;
    justify-content: center;
    height: 400px;
    
}



}



@media only screen and (min-width:1200px){
    
    header{
        
        height: 200px;
    }
    
    ul{
        display: flex;
        height: 80px;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;
       
    }

    li{
        width: 15%;
        text-align: center;
        font-size: 20px;
    }

    
.divHome{
    display: grid;
    justify-content: start;
    height: 600px;
    
    
}

.divHome h2{   
    font-size:30px;
    font-family: "Ubuntu";
    text-align: center;
    
            
}

.divHome p{
    text-align: center;
    color: rgb(89, 61, 101);
    font-family: "Ubuntu";
    font-size: 19px;
    text-align: center;
    height: 30px;

}


}