*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
   
}



header{
    padding-top: 0;
    background: linear-gradient(to bottom, rgb(174, 175, 194), rgb(225, 196, 243));
    height: 100%;
    
}
 header img{
    height: auto;
    width: 250px
 }

 /*estilo barra nav*/

.navbar-nav{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-around;
}

.dropdown-item{
    display: flex;
    height: auto;
    justify-content: space-around;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
}


li{
    display: inline-block;
    margin: 10px;

}


/*estilo titulos/textos*/

h1{
    color: rgb(118, 79, 124);
    font-size: 50px;
    font-family: "Dancing+Script";
    text-align: center;
    font-weight: 300px;
    text-shadow: 2px 2px 4px #888;

}



h2{
    font-size:50px;
    font-family: "Ubuntu";
    text-align: center;
    
}

h3{
    font-size:30px;
    font-family: "Ubuntu";

}

/*intro pagina*/

.divHome{
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;

    
}
.divHome h2{  
    font-size:40px;
    font-family: "Ubuntu";
    grid-area: texto1;
    align-self:auto;
    
    
            
}
.divHome h3{  
    font-size:30px;
    font-family: "Ubuntu";
    grid-area: texto2;
    align-self:last baseline
    

   
            
}

.divHome p{
    text-align: center;
    color: rgb(89, 61, 101);
    font-family: "Ubuntu";
    font-size: 19px;
    text-align: center;
    height: 30px;
    grid-area: texto3;

}





.carousel{
    display: grid;
    margin: 10px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    
  
    
}

/* pise la clase del carousel de boostrap(no se si es lo correcto)- */


.carousel-item img{
    max-width: 100%;
    max-width: auto;
    object-fit: cover;
    margin: 0 auto;
    
}

/*media mobil*/

@media only screen and (min-width:480px){
    
    header{
        
        height: 100%;
        width: 100%;
    }
    
    ul{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
    }

    li{
        width: 20%;
        text-align: center;
        font-size: 20px;
        
    }


    
.divHome{
    display: flex;
    text-align: center;
    justify-content:center;
    height: 100%;
    width: 100%;
    
}

.carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contacto{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
        
}

}


/* media escritrio*/

@media only screen and (min-width:1200px){
    
    header{
        
        height: 100%;
        width: 100%;
    }
    
    ul{
        display: flex;
        height: auto;
        flex-direction:row;
        justify-content: center;
        list-style-type: none;
        
    }

    li{
        width: 20%;
        text-align: center;
        font-size: 20px;

    }

/* intro pag */ 

.divHome{
    display: grid;
    justify-content: start;
    height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "texto1 texto2 texto2"
        "texto1 texto2 texto2"
        "texto3 texto3 texto3";
        align-items: center;
        
    }
    
.carousel{
    display: flex;
    justify-content: center;
    max-width:100%;
    max-width: 100%;
    border-radius: 10% ;
    
}
.carousel-item{
    max-width: 100%;
    max-width: auto;
    object-fit: cover;
    margin: 0 auto;
    
}

}
/*fin media escritorio*/

/* estilo contacto escritorio*/
.contacto{
    display: grid;
    justify-content: center;
    height: 300px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "titulo1 titulo1 titulo1 titulo1   "
    "texto texto texto texto "
    " mapa mapa mapa mapa "
    "titulo2 titulo2 titulo2 titulo2 "
    "texto0 texto0 texto0 texto0";
    
    
    
}

.contacto h2{
    grid-area:titulo1;
}
.contacto h3{
    grid-area:titulo2;
}
#direccion{
    grid-area: texto;
}
#cel-mail{
    grid-area: texto0;
}


.g-map iframe {
    display: block;
    width: 90%;
    height: 450px;
    border: 1px solid #6f4e78;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    grid-area: mapa;
    
}

.g-map{
    background-color: #705790;
    padding: 25px;
    grid-area: mapa;
    
}



/*estilo servicios*/

.servicios{
    background-color: #ead9ee;
    border: 3px solid #380d59;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 
.servis{
    border: 1px solid black;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;

}
.servis img{
    height: 300px;
    width: 0 auto;
}

  

/* estilo contacto*/

.contacto{
    display: grid;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
   
    
}

.contacto p{
    font-size: 20px;
    font-family: "ubuntu";
    text-align: center;
    
}


/* footer*/

.pie-pagina {
    background: linear-gradient(to bottom, rgb(174, 175, 194), rgb(225, 196, 243)); 
    padding: 40px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-wrap: wrap;
    font-size: 15px;
    height: auto;
    
}

.redes-sociales {
    display: flex;
    gap: 20px;
    justify-content:center;
    margin-bottom: 20px;
}


.enlace-red {
    color: #842086;
    text-decoration: none;
    font-size: 18px;
    font-family: "ubuntu";
    
}

.pie-pagina p{
    font-size: 25px;
    font-family: "ubuntu";
}

